.Checkout-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.Checkout-main_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.Checkout-main_table h2 {
    margin-right: 10%;
}

.Checkout-main_button {
    margin-right: 10%;
}

.Checkout-main_button button a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1024px) {
    .Checkout-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}