.Thanks-main {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Thanks-main img {
    width: 200px;
}

.Thanks-main button a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1024px) {
    .Thanks-main {
        text-align: center;
    }
}